<%= render :partial => "layouts/shared/sidebar" %>
<div class="column" id="content">
  <div class="ui grid">
    <%= render :partial => "layouts/shared/notice" %>
    <div class="row">
      <h1 class="ui huge header">
        Editing Institution 
      </h1>
    </div>
    <div class="ui divider"></div>

    <div class="row">

      <%= render 'form', institution: @institution %>

    </div>
  </div>
</div>

<%= link_to 'View Institution', @institution, class: "ui basic button" %> |
<%= link_to 'All Institutions', institutions_path, class: "ui basic button" %>


