<%= render :partial => "layouts/shared/sidebar" %>
<div class="column" id="content">
  <div class="ui ">
    <%= render :partial => "layouts/shared/notice" %>
    <div class="row">
      <h1 class="ui huge header">
        View Institution
      </h1>
    </div>
    <div class="ui divider"></div>
    <br />

    <div class="item">
      <strong>Name:</strong>
      <%= @institution.name %>
    </div>

    <div class="item">
      <strong>Location:</strong>
      <%= @institution.location %>
    </div>

    <div class="item">
      <strong>Contact:</strong>
      <%= @institution.contact %>
    </div>
    <br />
<% if current_user.admin? %>
  <%= link_to 'Edit Institution', edit_institution_path(@institution), class: "ui large button" %> |
<% end %>
<%= link_to 'All Institutions', institutions_path, class: "ui large button" %>
