<%= render :partial => "layouts/shared/sidebar" %>

<div class="column" id="content">
  <div class="ui grid">
    <%= render :partial => "layouts/shared/notice"%>
    <div class="row">
      <h1 class="ui huge header">
        Dashboard
      </h1>
    </div>

      <div class="ui divider"></div>

      <br />

        <!--<div id="maincontent" class="ui main container">-->
        <div class="row">
          <div class="ui stackable grid  center aligned">

            <!-- Application Data section -->
            <div class="seven wide column">
              <div class="ui secondary segment">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    <%= @applications_count %>
                  </div>

                  <div class="label">
                    Applications
                  </div>

                </div>

              </div>

              <table class="ui small very compact unstackable striped selectable olive table">
                <thead>
                  <tr>
                    <th colspan="2">
                      <% if !current_user.admin? %> Your <% else %> All <% end %> Applications
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Processed</td>
                    <td class="right aligned"><%= @processed_count %></td>
                  </tr>
                  <tr>
                    <td>Unprocessed</td>
                    <td class="right aligned"><%= @unprocessed_count %></td>
                  </tr>
                  <tr>
                    <td>Delivered</td>
                    <td class="right aligned"><%= @delivered_count %></td>
                  </tr>
                  <tr>
                    <td>Undelivered</td>
                    <td class="right aligned"><%= @undelivered_count %></td>
                  </tr>
                </tbody>
              </table>


            </div>

            <!-- Institutions Data section -->
            <div class="seven wide column">
              <div class="ui secondary segment">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    <%= @institutions_count %>
                  </div>

                  <div class="label">
                    Institutions
                  </div>

                </div>

              </div>

              <table class="ui small very compact unstackable selectable olive striped table" id="institutions">
                <thead>
                  <tr>
                    <th>
                      Institutions with <% if !current_user.admin? %> Your <% end %> Processed Applications
                    </th>
                    <th>Count</th>
                  </tr>
                </thead>

                <tbody>

                  <% @applications_per_institutions.each do | applications_per_institution| %>

                    <tr>
                      <td><%= applications_per_institution.name %></td>
                      <td ><%= applications_per_institution.applications_count %></td>
                    </tr>

                  <% end %>
                </tbody>
              </table>


            </div>

            <!-- Documents Data section -->
            <div class="seven wide column">
              <div class="ui secondary segment">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    <%= @documents_count %>
                  </div>

                  <div class="label">
                    Documents
                  </div>

                </div>

              </div>

              <table class="ui small very compact unstackable selectable olive striped table">
                <thead>
                  <tr>
                    <th colspan="2">
                      Documents Available
                    </th>
                  </tr>
                </thead>

                <tbody>

                  <% @documents.each do |document| %>
                  <tr>
                    <td><%= document.name %></td>
                    <!-- <td class="right aligned">20,15</td> -->
                  </tr>

                  <% end %>

                </tbody>
              </table>

            </div>


            <% if current_user.admin? %>
            <!-- Agent Data section -->
            <div class="seven wide column">
              <div class="ui secondary segment">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    <%= @agents_count %>
                  </div>

                  <div class="label">
                    Agents
                  </div>

                </div>

              </div>

              <table class="ui small very compact unstackable selectable olive striped table">
                <thead>
                  <tr>
                    <th colspan="2">
                      Agents
                    </th>
                  </tr>
                </thead>

                <tbody>

                  <% @agents.each do |agent| %>
                    <tr>
                      <td><%= agent.email %></td>
                    </tr>
                  <% end %>

                </tbody>
              </table>

            </div>

            <!-- Customer Data section -->
             <div class="seven wide column">
              <div class="ui secondary segment ">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    <%= @customer_count %>
                  </div>

                  <div class="label">
                    Customers
                  </div>

                </div>

              </div>

              <table class="ui small very compact unstackable selectable olive striped table">
                <thead>
                  <tr>
                    <th colspan="2">
                      Customer Detail
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Active</td>
                    <td class="right aligned"><%= @active_customer_count %></td>
                  </tr>
                  <tr>
                    <td>Inactive</td>
                    <td class="right aligned"><%= @inactive_customer_count %></td>
                  </tr>

                </tbody>
              </table>

            </div>


            <!-- Admin Data section -->
            <div class="seven wide column">
              <div class="ui secondary segment">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    <%= @admins_count %>
                  </div>

                  <div class="label">
                    Admins
                  </div>

                </div>

              </div>

              <table class="ui small very compact unstackable selectable olive striped table">
                <thead>
                  <tr>
                    <th colspan="2">
                      Admins
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <% @admins.each do |admin| %>
                    <tr>
                      <td><%= admin.email %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>


            <br/>

            <% end %>

            </div>



              <!--            <div class="ui grid">
            <div class="three column center aligned row">

              <div class="column">



            <div class="ui hidden section divider"></div>

            <div class="ui divider"></div>
            <div class="row">

               <div class="ui primary segment">

                <div class="ui grey small horizontal statistic">

                  <div class="value">
                    Intelligent
                  </div>

                  <div class="label">
                    Graphs
                  </div>

                </div>

              </div>
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1,001
                    </td>
                    <td>
                      Lorem
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      dolor
                    </td>
                    <td>
                      sit
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,002
                    </td>
                    <td>
                      amet
                    </td>
                    <td>
                      consectetur
                    </td>
                    <td>
                      adipiscing
                    </td>
                    <td>
                      elit
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,003
                    </td>
                    <td>
                      Integer
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      odio
                    </td>
                    <td>
                      Praesent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,003
                    </td>
                    <td>
                      libero
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      cursus
                    </td>
                    <td>
                      ante
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,004
                    </td>
                    <td>
                      dapibus
                    </td>
                    <td>
                      diam
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      nisi
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,005
                    </td>
                    <td>
                      Nulla
                    </td>
                    <td>
                      quis
                    </td>
                    <td>
                      sem
                    </td>
                    <td>
                      at
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,006
                    </td>
                    <td>
                      nibh
                    </td>
                    <td>
                      elementum
                    </td>
                    <td>
                      imperdiet
                    </td>
                    <td>
                      Duis
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,007
                    </td>
                    <td>
                      sagittis
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      Praesent
                    </td>
                    <td>
                      mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,008
                    </td>
                    <td>
                      Fusce
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      tellus
                    </td>
                    <td>
                      sed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,009
                    </td>
                    <td>
                      augue
                    </td>
                    <td>
                      semper
                    </td>
                    <td>
                      porta
                    </td>
                    <td>
                      Mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,010
                    </td>
                    <td>
                      massa
                    </td>
                    <td>
                      Vestibulum
                    </td>
                    <td>
                      lacinia
                    </td>
                    <td>
                      arcu
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,011
                    </td>
                    <td>
                      eget
                    </td>
                    <td>
                      nulla
                    </td>
                    <td>
                      Class
                    </td>
                    <td>
                      aptent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,012
                    </td>
                    <td>
                      taciti
                    </td>
                    <td>
                      sociosqu
                    </td>
                    <td>
                      ad
                    </td>
                    <td>
                      litora
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,013
                    </td>
                    <td>
                      torquent
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      conubia
                    </td>
                    <td>
                      nostra
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,014
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      inceptos
                    </td>
                    <td>
                      himenaeos
                    </td>
                    <td>
                      Curabitur
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,015
                    </td>
                    <td>
                      sodales
                    </td>
                    <td>
                      ligula
                    </td>
                    <td>
                      in
                    </td>
                    <td>
                      libero
                    </td>
                  </tr>
                </tbody>
              </table>
              -->
           <!--</div>
          </div>-->





          <!--End of main content-->
        </div>













  </div>

</div>
