
    <div class="ui grid">
    <div class="row">

<div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <%=link_to 'Dashboard', applications_path, class: "item" %>
            <%=link_to 'Applications', applications_path, class: "active item" %>
            <%=link_to 'Documents', documents_path, class: "item" %>

            <div class="ui hidden divider"></div>
            
            <%=link_to 'Orders', orders_path, class: "item" %>
            <%=link_to 'Agents', agents_path, class: "item" %>
            <%=link_to 'Customers', customers_path, class: "item" %>

            <!--<a class="item">Export</a>

            <div class="ui hidden divider"></div>

             <a class="item">Nav item</a>
            <a class="item">Nav item again</a>
            <a class="item">One more nav</a>
            <a class="item">Another nav item</a>
            <a class="item">More navigation</a>

            <div class="ui hidden divider"></div>

            <a class="item">Macintosh</a>
            <a class="item">Linux</a>
            <a class="item">Windows</a> -->

          </div>
        </div>