
    <div class="ui grid">
      <div class="row">

          <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid pointing menu">
            <%=link_to '<i class="chart line icon"></i>Dashboard'.html_safe, dashboard_path, class: "item" %>
            <%=link_to '<i class="folder open icon"></i>All Requests'.html_safe, applications_path, class: "item" %>
            <%=link_to '<i class="sync alternate icon"></i>Pending Requests'.html_safe, pending_path, class: "item" %>



            <div class="ui hidden divider"></div>

            <% if current_user.admin? %>
              <%=link_to '<i class="user secret icon"></i>Agents'.html_safe, agents_path, class: "item" %>
              <%=link_to '<i class="users icon"></i>Customers'.html_safe, customers_path, class: "item" %>
              <%=link_to '<i class="home icon"></i>Institutions'.html_safe, institutions_path, class: "item" %>
              <%=link_to '<i class="file alternate icon"></i>Documents'.html_safe, documents_path, class: "item" %>
              <%=link_to '<i class="building icon"></i>Faculties'.html_safe, faculties_path, class: "item" %>
              <%=link_to '<i class="warehouse icon"></i>Colleges'.html_safe, colleges_path, class: "item" %>
            <% end %>

          </div>
        </div>
