
      <%= form_with(model: application, local: true , html: { multipart: true })  do |form| %>
        <% if application.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

            <ul>
            <% application.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="ui large form">
            <div class="field">
              <label>First Name</label>
              <%= form.text_field :firstname, id: :application_firstname%>
            </div>


            <div class="field">
              <label>Last Name</label>
              <%= form.text_field :lastname, id: :application_lastname %>
            </div>

            <div class="field">
              <label>Date of Birth:</label>
              <%= form.text_field :dob, id: :application_dob, :class => 'form-control'  %>
            </div>

            <div class="field">
              <%= form.label :institution_id, 'Institution Attended' %>
              <%= form.collection_select :institution_id, Institution.order(:name),:id,:name, include_blank: true%>
            </div>

              <div class="field">
                <%= form.label :college_id, 'College Attended (Leave blank if not applicable)' %>
                <%= form.collection_select :college_id, College.order(:name),:id,:name, include_blank: true%>
              </div>
              <div class="field">
                <%= form.label :faculty_id, 'Faculty Attended (Leave blank if not applicable)' %>
                <%= form.collection_select :faculty_id, Faculty.order(:name),:id,:name, include_blank: true%>
              </div>

          <div class="equal width fields">

            <div class="field">
              <%= form.label :department %>
              <%= form.text_field :department, id: :application_department, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :programme %>
              <%= form.text_field :programme, id: :application_programme, :class => 'form-control' %>
            </div>


          </div>


          <div class="equal width fields">

            <div class="field">
              <%= form.label :enrolled, 'Date of enrolment' %>
              <%= form.text_field :enrolled, id: :application_enrolled, :class => 'form-control' %>
            </div>

             <div class="field">
              <%= form.label :completed, 'Date of Completion' %>
              <%= form.text_field :completed, id: :application_completed, :class => 'form-control'%>
            </div>

          </div>


          <div class="equal width fields">

            <div class="field">
              <%= form.label :document, 'Requested Document' %>
              <%= form.collection_select :document, Document.order(:name),:id,:name, include_blank: true%>
            </div>

            <div class="field">
              <%= form.label :express, 'Express Application?' %>
              <%= form.radio_button :express, true , :class => 'radio-inline'%> <b>Yes</b> &nbsp;
              <%= form.radio_button :express, false, :checked => true, :class => 'radio-inline' %> <b>No</b>
            </div>

          </div>


          <div class="equal width fields">

            <div class="field">
              <label>Phone Number: </label>
              <%= form.text_field :phone, id: :application_phone, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :quantity %>
              <%= form.number_field :quantity, id: :application_quantity %>
            </div>

          </div>

          <div class="equal width fields">

            <div class="field">
              <label>Upload Student ID: </label>
              <%= form.file_field :student_id, :class => 'form-control' %>
            </div>

            <div class="field">
              <label>Upload Acceptance Letter: </label>
              <%= form.file_field :acceptance_letter, :class => 'form-control' %>
            </div>

          </div>


          <!--
          <div class="field">
            <label>Residential Address:</label>
            <%= form.text_area :address, id: :application_address, :class => 'form-control' %>
          </div>
          -->

          <div class="field">
            <label>Delivery Address:</label>
            <%= form.text_area :address, id: :application_address, :class => 'form-control' %>
          </div>

          <!--
          <div class="field">
            <label>Region of Delivery Address:</label>
            <%#= form.collection_select :region, @regions, :first, :last, :class => 'form-control' %>
          </div>
          -->

          <div class="field">
            <label>Reason(s) for Request:</label>
            <%= form.text_area :reason, id: :application_reason, :class => 'form-control' %>
          </div>


          <%= form.submit 'Submit Request', :class => "ui submit button primary" %>

        </div>
      <% end %>
