<%= render :partial => "layouts/shared/sidebar" %>
<div class="column" id="content">
  <div class="ui grid">
    <%= render :partial => "layouts/shared/notice" %>
    <div class="row">
      <h1 class="ui huge header">
        Editing Request 
      </h1>
    </div>
    <div class="ui divider"></div>

    <div class="row">

        <%= render 'form', application: @application %>

    </div>
  </div>
</div>

<%= link_to 'View Request', @application, class: "ui basic button" %> |
<%= link_to 'All Requests', applications_path, class: "ui basic button" %>
