<%= render :partial => "layouts/shared/sidebar" %>

<div class="column" id="content">
  <div class="ui grid">
  <%= render :partial => "layouts/shared/notice"%>
    <div class="ui divider"></div>
    
    <div class="ui hidden section divider"></div>
    <div class="row">
      <h1 class="ui huge header">
        Applications
      </h1>
    </div>
    <div class="ui divider"></div>

    <div class="row">
    <table class="ui single line striped selectable table">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Processed
          </th>
          <th colspan="3">
            
          </th>
        </tr>
      </thead>
      
      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td></td>
            <td><%= application.firstname %></td>
            <td><%= application.lastname %></td>
            <td><%= application.processed %></td>
            <td><%= link_to 'View', application, class: "ui basic button" %></td>
            <td><%= link_to 'Edit', edit_application_path(application), class: "ui basic button" %></td>
            <td><%= link_to 'Delete', application, method: :delete, data: { confirm: 'Are you sure?' }, class: "negative ui button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<br>

<%= link_to 'New Application', new_application_path, class: "positive ui button" %>



     



