<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @application.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @application.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @application.dob %>
</p>

<p>
  <strong>Enrolled:</strong>
  <%= @application.enrolled %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @application.completed %>
</p>

<p>
  <strong>Express:</strong>
  <%= @application.express %>
</p>

<p>
  <strong>Document:</strong>
  <%= @document %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @application.quantity %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @application.studentid %>
</p>

<p>
  <strong>Department:</strong>
  <%= @application.department %>
</p>

<p>
  <strong>College:</strong>
  <%= @application.college %>
</p>

<p>
  <strong>School:</strong>
  <%= @application.school %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application.phone %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @application.programme %>
</p>

<p>
  <strong>Address:</strong>
  <%= @application.address %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @application.reason %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @application.processed %>
</p>

<%= link_to 'Edit Applications', edit_application_path(@application) %> |
<%= link_to 'All Applications', applications_path %>
