<%= render :partial => "layouts/shared/sidebar" %>
<div class="column" id="content">
  <div class="ui ">
    <%= render :partial => "layouts/shared/notice" %>
    <div class="row">
      <h1 class="ui huge header">
        View Application
      </h1>
    </div>
    <div class="ui divider"></div>

      <div class="item">
        <strong>First Name:</strong>
        <%= @application.firstname %>
      </div>

      <div class="item">
        <strong>Last Name:</strong>
        <%= @application.lastname %>
      </div>

      <div class="item">
        <strong>Date of Birth:</strong>
        <%= @application.dob %>
      </div>

      <div class="item">
        <strong>Enrolled:</strong>
        <%= @application.enrolled %>
      </div>

      <div class="item">
        <strong>Completed:</strong>
        <%= @application.completed %>
      </div>

      <div class="item">
        <strong>Express:</strong>
        <%= @application.express %>
      </div>

      <div class="item">
        <strong>Document:</strong>
        <%= @document %>
      </div>

      <div class="item">
        <strong>Quantity:</strong>
        <%= @application.quantity %>
      </div>

      <div class="item">
        <strong>Student ID:</strong>
        <%= @application.studentid %>
      </div>

      <div class="item">
        <strong>Department:</strong>
        <%= @application.department %>
      </div>

      <div class="item">
        <strong>College:</strong>
        <%= @application.college %>
      </div>

      <div class="item">
        <strong>School:</strong>
        <%#= @application.school %>
        <%= @application.institution.name %>
      </div>

      <div class="item">
        <strong>Phone:</strong>
        <%= @application.phone %>
      </div>

      <div class="item">
        <strong>Programme:</strong>
        <%= @application.programme %>
      </div>

      <div class="item">
        <strong>Address:</strong>
        <%= @application.address %>
      </div>

      <div class="item">
        <strong>Reason:</strong>
        <%= @application.reason %>
      </div>

      <div class="item">
        <strong>Processed:</strong>
        <%= @application.processed %>
      </div>
  </div>
  

  <%= link_to 'Edit Applications', edit_application_path(@application), class: "ui large button" %> |
  <%= link_to 'All Applications', applications_path , class: "ui large button" %>

</div>
