<%= render :partial => "layouts/shared/sidebar" %>
<div class="column" id="content">
  <div class="ui ">
    <%= render :partial => "layouts/shared/notice" %>
    <!--<div class="ui divider"></div>-->
    
    <!-- <div class="ui hidden section divider"></div> -->
    <div class="row">
      <h1 class="ui huge header">
        View Document
      </h1>
    </div>
    <div class="ui divider"></div>

    <br />

    <div class="item">
      <strong>Document Name:</strong>
      <%= @document.name %>
    </div>

    <br />

    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_document_path(@document), class: "ui large button"  %> |
    <% end %>
    <%= link_to 'Back', documents_path, class: "ui large button"  %>
</div>