<!DOCTYPE html>
<html>
  <head>
    <title>Edubox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<% if current_user %>
  		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
  	<% else %>
  		<%= link_to "Login", new_user_session_path %>
    <% end %>
    
    <div class="ui inverted huge borderless fixed fluid menu">
      <a class="header item">Edubox</a>

      <div class="right menu">
        <div class="item">
          <div class="ui small input">
            <input placeholder="Search..." />
          </div>
        </div>

        <a class="item">Dashboard</a>
        <a class="item">Settings</a>
        <a class="item">Profile</a>
        <a class="item">Help</a>

      </div>

    </div>


    <div class="ui grid">
      <div class="row">

        <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <%=link_to 'Applications', applications_path, class: "active item" %>
            <a class="item">Documents</a>
            <a class="item">Orders</a>
            <!--<a class="item">Export</a>

            <div class="ui hidden divider"></div>

             <a class="item">Nav item</a>
            <a class="item">Nav item again</a>
            <a class="item">One more nav</a>
            <a class="item">Another nav item</a>
            <a class="item">More navigation</a>

            <div class="ui hidden divider"></div>

            <a class="item">Macintosh</a>
            <a class="item">Linux</a>
            <a class="item">Windows</a> -->

          </div>
        </div>



        <%= yield %>

      </div>
    </div>



  </body>
</html>
