<!DOCTYPE html>
<html>
  <head>
    <title>Kipln</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui inverted huge borderless fixed fluid menu">
      <%= link_to 'Kipln', dashboard_path, class: "header item" %>

      <div class="right menu">
        <div class="item">
          <div class="ui small input">
            <input placeholder="Search..." />
          </div>
        </div>

        <% if current_user %>

             <div class="ui simple dropdown item">
                <i class="user icon"></i>
                <%= current_user.email %>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item"><i class="edit icon"></i> Edit Profile</a>
                  <!-- <a class="item"><i class="globe icon"></i> Choose Language</a>
                  <a class="item"><i class="settings icon"></i> Account Settings</a> -->
                  <a class="item" href="/users/sign_out"><i class="sign-out icon"></i> Log Out</a>
                </div>
              </div>

              <%#= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>

          <% else %>
              <a class="item" href="/users/sign_up"> <i class="toggle on icon"></i>Sign Up</a>
              <%#= link_to "Login", new_user_session_path, class: "item" %>

          <% end %>

      </div>

    </div>

          <%= yield %>


      </div>
    </div>


  <script>
    $(document).ready(function($) {

    $(function() {

      $('#institutions').dataTable(
        { "bInfo": false,
          "bLengthChange": false,
          "bFilter": false }
      );

        var url = window.location.pathname,
            urlRegExp = new RegExp(url.replace(/\/$/, '') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
        // now grab every link from the navigation
        $('a.item').each(function() {
            // and test its normalized href against the url pathname regexp
            if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                $(this).addClass('active');
            }
        });

    });


    $("#application_dob, #application_enrolled, #application_completed").datepicker({
      dateFormat: "dd-mm-yy"
    });



    // jQuery(function() {
    //     var states1 = $("[name='application[faculty_id]']").html();
    //     var states2 = $("[name='application[college_id]']").html();

    //     $("[name='application[faculty_id]']").parent().hide();
    //     $("[name='application[college_id]']").parent().hide();

    //     $("[name='application[institution_id]']").eq(0).change(function() {
    //         var faculty_institution, options1;

    //         faculty_institution = $("[name='application[institution_id]'] :selected").eq(0).text();
    //         console.log("faculty_institution:" + faculty_institution);

    //         console.log("states1:" + states1);

    //         options1 = $(states1).closest("optgroup[label='" + faculty_institution + "']").html();
    //         console.log("options 1:" + options1);

    //         if (options1) {
    //             $("[name='application[faculty_id]']").html(options1);
    //             $("[name='application[faculty_id]']").parent().show();
    //         } else {
    //             $("[name='application[faculty_id]']").empty();
    //             $("[name='application[faculty_id]']").parent().hide();
    //         }
    //     });


    //     $("[name='application[institution_id]']").eq(1).change(function() {
    //         var college_institution, options2;

    //         college_institution = $("[name='application[institution_id]'] :selected").eq(1).text();
    //         console.log("college_institution:" + college_institution);

    //         options2 = $(states2).closest("optgroup[label='" + college_institution + "']").html();
    //         console.log("options 2:" + options2);

    //         if (options2) {
    //             $("[name='application[college_id]']").html(options2);
    //             $("[name='application[college_id]']").parent().show();
    //         } else {
    //             $("[name='application[college_id]']").empty();
    //             $("[name='application[college_id]']").parent().hide();
    //         }

    //     });

    // });

    $('.message .close')
    .on('click', function () {
    $(this)
    .closest('.message')
    .transition('fade');
    });




});
  </script>
  </body>
</html>
